<% if works %>
  <% works.each do |work| %>
    <div class="work">
      <h2>自動思考： <%= work.automatic_thought %></h2>
      <p>認知のゆがみ: <%= CognitiveDistortion.find(work.cognitive_distortion_id).name %></p>
      <p>合理的な反応: <%= work.rational_thought %></p>

      <%= link_to "詳細を見る", work_path(work.id) %>
    </div>
  <% end %>
<% else %>
  <p>No works available.</p>
<% end %>