<h1>Works#index</h1>
<p>Find me in app/views/works/index.html.erb</p>


<a href="<%= new_work_path %>">ワークを開始する</a>

<div class="works">
  <%= render partial: 'work', locals: { works: @works } %>
</div>