<!-- モデルのエラーメッセージがある場合に表示する部分 -->

<% if model.errors.any? %>
  <!-- エラーアラートのコンテナ -->
  <div class="error-alert">
    <!-- エラーメッセージのリスト -->
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <!-- 各エラーメッセージの表示 -->
        <li class='error-message'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>