.application_title {
  background-color: #33CC66;
  display: inline-block;
  color: white;
  padding: 20px;
  max-width: fit-content;
}

.application_title a {
  text-decoration: none;
  color: inherit;
}

.center_button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.work_start_button {
  display: inline-block;
  padding: 15px 30px; 
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color: #4285f4;
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid #4285f4;
  transition: background-color 0.3s ease-in-out;
}

.work_start_button:hover {
  background-color: #3367d6;
  border: 2px solid #3367d6;
}
